header {
  grid-area: header;
  background-color: slateblue;
  color: white;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
header h1 {
  margin: auto 0;
  padding-left: 2%;
}
header div {
  display: flex;
  justify-content: flex-end;
}
header div h3 {
  margin: auto 0;
}
header .notication-bell {
  width: 10%;
}
header img {
  width: 15%;
  padding: 0 0.5rem;
}
header .profile-pic {
  border-radius: 50%;
}
@media (min-width: 768px) {
  header {
    grid-column: 1/span 2;
  }
  header img {
    width: 13%;
  }
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  background-color: #595288;
}
nav img {
  padding: 1rem;
}
nav a {
  margin: 0 5%;
}
@media (min-width: 768px) {
  nav {
    display: block;
  }
  nav img {
    width: 98%;
    padding: 15px;
  }
}

#traffic-chart {
  background: url(https://source.unsplash.com/random) center center/cover;
}

#daily-chart {
  background: url(https://source.unsplash.com/random) center center/cover;
}

#donut-chart {
  background: url(https://source.unsplash.com/random) center center/cover;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "nav" "main";
}
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas: "header header" "nav main";
  }
}

.main {
  grid-area: main;
  background-color: #f4f4f4;
}
.main-header {
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.main-header .headline {
  margin: auto;
}
.main-header-search {
  display: flex;
  width: 65%;
  background: #e7e7e7;
  border-radius: 0 0 0 10px;
  justify-content: flex-end;
}
.main-header-search input {
  border: none;
  border-radius: 5px 0 0 5px;
  margin: auto 0;
  width: 60%;
  padding: 10px 10px;
  font-size: 16px;
}
.main .alert {
  width: 95%;
  height: 40px;
  background-color: slateblue;
  margin: 20px auto;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: 50%;
  }
}

.members {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.members h3 {
  padding-bottom: 20px;
  width: 95%;
  margin: auto;
}
.members-container {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;
}
.members-container img {
  width: 10%;
  border-radius: 50%;
}
.members-container a {
  text-decoration: none;
  color: slateblue;
}
.members-container p {
  margin: auto 0;
}
.members-container:last-child {
  border-bottom: none;
}
.members-text {
  display: flex;
}
.members-text div {
  padding: 0 10px;
}

.activity {
  margin: auto;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
}
.activity h3 {
  padding-bottom: 20px;
  width: 95%;
  margin: auto;
}
.activity-container {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;
}
.activity-container img {
  width: 8%;
  border-radius: 50%;
}
.activity-container a {
  text-decoration: none;
  color: slateblue;
}
.activity-container p {
  margin: auto 0;
}
.activity-container:last-child {
  border-bottom: none;
}
.activity-text {
  display: flex;
}
.activity-text div {
  padding: 0 10px;
}

.message {
  margin: auto;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.message h3 {
  padding-bottom: 20px;
  width: 95%;
  margin: auto;
}
.message-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.message-container .text-container input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  border: 1px solid lightgray;
  background-color: #e7e7e7;
}
.message-container .textarea-container {
  padding: 10px 0;
}
.message-container .textarea-container textarea {
  width: 100%;
  padding: 10px;
  height: 120px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  border: 1px solid lightgray;
  background-color: #e7e7e7;
  resize: none;
}
.message-container button {
  padding: 15px 0;
  border: none;
  background-color: slateblue;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

.settings {
  margin: auto;
  width: 100%;
  padding: 20px 0;
}
.settings h3 {
  padding-bottom: 20px;
  width: 95%;
  margin: auto;
}
.settings-container {
  width: 90%;
  margin: auto;
}
.settings-container .select-container {
  padding: 20px 0;
}
.settings-container .select-container #timezone {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: none;
  border: 1px solid lightgray;
  background-color: #e7e7e7;
}
.settings-button {
  display: flex;
  justify-content: space-between;
}
.settings-button button {
  width: 47%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
}
.settings-button .button-primary {
  background-color: slateblue;
}
.settings-button .button-disabled {
  background-color: grey;
}

@media (min-width: 768px) {
  .traffic,
.social-container {
    grid-column: 1/span 2;
  }
}

@media (min-width: 768px) {
  .daily,
.members,
.message {
    grid-column: 1/span 1;
  }
}

.mobile,
.activity,
.settings {
  grid-column: 2/span 1;
}

.widget-container-full,
.widget-container-half {
  width: 95vw;
}

@media (min-width: 768px) {
  .widget-container-full {
    width: 90vw;
  }
}

@media (min-width: 768px) {
  .widget-container-half {
    width: 45vw;
  }
}

.social-container {
  width: 100%;
  margin: auto;
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
}
.social-container h3 {
  padding-bottom: 20px;
  width: 95%;
  margin: auto;
}
.social-container .fb-container {
  display: flex;
  width: 90%;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;
  background-color: #e7e7e7;
}
.social-container .twitter-container {
  display: flex;
  width: 90%;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;
  background-color: #e7e7e7;
}
.social-container .google-container {
  display: flex;
  width: 90%;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;
  background-color: #e7e7e7;
}
.social-container .social-image {
  width: 20%;
  background-color: slateblue;
  border-radius: 50% 50%;
  margin: auto 0;
  padding: 20px;
}
.social-container .social-image svg {
  width: 100%;
}
.social-container .social-text {
  margin: auto 0;
  padding-left: 20px;
}
.social-container .social-text .sm-name {
  font-size: 20px;
}
.social-container .social-text .following {
  font-size: 3rem;
}
.social-container .space {
  padding: 20px 0;
}

.traffic {
  width: 100%;
  margin: auto;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}
.traffic-header {
  margin: auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.traffic-nav {
  list-style: none;
  display: flex;
}
.traffic-nav-link {
  padding-left: 20px;
}
.traffic .widget-container-full {
  width: 100%;
  text-align: center;
}

.daily {
  width: 100%;
  margin: auto;
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
}
.daily h3 {
  padding-bottom: 20px;
  width: 95%;
  margin: auto;
}
.daily .widget-container-half {
  text-align: center;
}

.mobile {
  width: 100%;
  margin: auto;
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
}
.mobile h3 {
  padding-bottom: 20px;
  width: 95%;
  margin: auto;
}
.mobile .widget-container-half {
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
