#traffic-chart {
  background: url(https://source.unsplash.com/random) center center/cover;
}

#daily-chart {
  background: url(https://source.unsplash.com/random) center center/cover;
}

#donut-chart {
  background: url(https://source.unsplash.com/random) center center/cover;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "main";
  @include mq("med") {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "header header"
      "nav main";
  }
}

.main {
  grid-area: main;
  background-color: #f4f4f4;
  &-header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    & .headline {
      margin: auto;
    }
    &-search {
      display: flex;
      width: 65%;
      background: rgb(231, 231, 231);
      border-radius: 0 0 0 10px;
      justify-content: flex-end;
      & input {
        margin: auto 0;
        width: 60%;
        padding: 60px 0;
        font-size: 25px;
      }
    }
  }
  & .alert {
    width: 95%;
    height: 40px;
    background-color: slateblue;
    margin: 20px auto;
    border-radius: 5px;
  }
  @include mq("med") {
    display: grid;
    grid-template-columns: 50%;
  }
}

.members {
  margin: auto;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
  & h3 {
    padding-bottom: 20px;
    width: 95%;
    margin: auto;
  }
  &-container {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
    justify-content: space-between;
    & img {
      width: 10%;
      border-radius: 50%;
    }
    & a {
      text-decoration: none;
      color: slateblue;
    }
    & p {
      margin: auto 0;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  &-text {
    display: flex;
    & div {
      padding: 0 10px;
    }
  }
}

.activity {
  margin: auto;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
  & h3 {
    padding-bottom: 20px;
    width: 95%;
    margin: auto;
  }
  &-container {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
    justify-content: space-between;
    & img {
      width: 10%;
      border-radius: 50%;
    }
    & a {
      text-decoration: none;
      color: slateblue;
    }
    & p {
      margin: auto 0;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  &-text {
    display: flex;
    & div {
      padding: 0 10px;
    }
  }
}

.message {
  margin: auto;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
  & h3 {
    padding-bottom: 20px;
    width: 95%;
    margin: auto;
  }
  &-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    & .text-container {
      & input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        border: 1px solid lightgray;
        background-color: rgb(231, 231, 231);
      }
    }
    & .textarea-container {
      padding: 10px 0;
      & textarea {
        width: 100%;
        padding: 10px;
        height: 120px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        border: 1px solid lightgray;
        background-color: rgb(231, 231, 231);
        resize: none;
      }
    }
    & button {
      padding: 15px 0;
      border: none;
      background-color: slateblue;
      color: white;
      font-size: 16px;
      border-radius: 5px;
    }
  }
}

.settings {
  margin: auto;
  width: 100%;
  padding: 20px 0;
  & h3 {
    padding-bottom: 20px;
    width: 95%;
    margin: auto;
  }
  &-container {
    width: 90%;
    margin: auto;
    & .select-container {
      padding: 20px 0;
      & #timezone {
        width: 100%;
        height: 40px;
        font-size: 16px;
        border: none;
        border: 1px solid lightgray;
        background-color: rgb(231, 231, 231);
      }
    }
  }
  &-button {
    display: flex;
    justify-content: space-between;
    & button {
      width: 47%;
      padding: 15px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      color: white;
    }
    & .button-primary {
      background-color: slateblue;
    }
    & .button-disabled {
      background-color: grey;
    }
  }
}

.traffic,
.social {
  @include mq("med") {
    grid-column: 1 / span 2;
  }
}

.daily,
.members,
.message {
  @include mq("med") {
    grid-column: 1 / span 1;
  }
}

.mobile,
.activity,
.settings {
  grid-column: 2 / span 1;
}

.widget-container-full,
.widget-container-half {
  width: 95vw;
}

.widget-container-full {
  @include mq("med") {
    width: 90vw;
  }
}

.widget-container-half {
  @include mq("med") {
    width: 45vw;
  }
}
