nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  background-color: rgb(89, 82, 136);
  & img {
    padding: 1rem;
  }
  & a {
    margin: 0 5%;
  }
  @include mq("med") {
    display: block;
    & img {
      width: 98%;
      padding: 15px;
    }
  }
}
