.traffic {
  width: 100%;
  margin: auto;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
  &-header {
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  &-nav {
    list-style: none;
    display: flex;
    &-link {
      padding-left: 20px;
    }
  }
  & .widget-container-full {
    width: 100%;
    text-align: center;
  }
}

.daily {
  width: 100%;
  margin: auto;
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
  & h3 {
    padding-bottom: 20px;
    width: 95%;
    margin: auto;
  }
  & .widget-container-half {
    text-align: center;
  }
  @include mq("med") {
    border-right: 1px solid lightgray;
  }
}

.mobile {
  width: 100%;
  margin: auto;
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
  & h3 {
    padding-bottom: 20px;
    width: 95%;
    margin: auto;
  }
  & .widget-container-half {
    text-align: center;
  }
}
